* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

body {
  min-height: 100vh;
}

main {
  width: 50%;
  margin: 20vh auto;
  display: grid;
  grid-template-areas:
    "section1 section1"
    "section2 section3";
  border-radius: 10px;
  box-shadow: -5px -5px 30px 0.1px hsl(218, 22%, 67%);
}

.padding {
  padding: 30px 35px;
}

.section1 {
  grid-area: section1;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section1 h1 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 15px;
}

.section1 h2 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 15px;
}

.section1 p {
  color: hsl(218, 22%, 67%);
  line-height: 1.6;
  font-size: 1.2em;
}

.section2 {
  grid-area: section2;
  background-color: hsl(179, 62%, 43%);
  color: white;
  border-bottom-left-radius: 10px;
}

.section2 p {
  color: white;
}

.price {
  display: flex;
  align-items: center;
}

.price span {
  font-size: 2.5em;
  color: white;
  padding-right: 10px;
  margin-top: 15px;
}

.signup {
  background-color: hsl(71, 73%, 54%);
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup:hover {
  opacity: 95%;
  cursor: pointer;
}

.section3 {
  grid-area: section3;
  background-color: hsl(179, 62%, 50%);
  color: white;
  border-bottom-right-radius: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5em;
  margin-top: 15px;
}

@media only screen and (max-width: 500) {
  main {
    width: 90%;
    display: grid;
    margin-top: 50px;
    transform: none;
    grid-template-areas: "section1" "section2" "section3";
  }
}

footer {
  margin: 20px;
  justify-content: center;
}
